// Fonts
@font-face {
	font-family: "Roboto";
	src:
		url("../assets/fonts/Roboto-Medium.woff") format("woff"),
		url("../assets/fonts/Roboto-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto";
	src:
		url("../assets/fonts/Roboto-Regular.woff") format("woff"),
		url("../assets/fonts/Roboto-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src:
		url("../assets/fonts/Inter-Regular.woff") format("woff"),
		url("../assets/fonts/Inter-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src:
		url("../assets/fonts/Inter-SemiBold.woff") format("woff"),
		url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

// Reset styles
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
*::after,
*::before {
	display: inline-block;
}
body,
html {
	height: 100%;
	min-width: $minWidth + px;
}
body {
	color: $mainColor;
	line-height: 1;
	font-size: $fontSize;
	font-family: $fontFamily, Arial, Helvetica, sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bgColor;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	.dark & {
		color: $mainColorDarkTheme;
		background-color: $bgColorDarkTheme;
	}
}
button,
input,
textarea {
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
option,
select {
	font-family: inherit;
	font-weight: inherit;
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

// Settings
body {
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	.loaded & {
	}
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Push footer to bottom
	> main {
		flex: 1 1 auto;
	}
	// For sliders
	> * {
		min-width: 0;
	}
}
[class*="__container"] {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 $containerPadding + px;
}

// Common styles
@keyframes skeleton-loading {
	0% {
		background-color: #eee;
	}

	50% {
		background-color: #ddd;
	}

	100% {
		background-color: #eee;
	}
}
@keyframes skeleton-loading-dark-theme {
	0% {
		background-color: #4c4c4c;
	}

	50% {
		background-color: #404040;
	}

	100% {
		background-color: #4c4c4c;
	}
}
.skeleton {
	border: none;
	background: transparent;
	&-anim {
		background: #eee;
		animation: skeleton-loading 1.5s infinite linear;
		border-radius: 14px;
		.dark & {
			background: #4c4c4c;
			animation: skeleton-loading-dark-theme 1.5s infinite linear;
		}
	}
	&-details__title {
	}
	&-details__content {
	}
	&-details__image {
	}
	&-details__line {
	}
	&__counter {
		width: toRem(135);
		height: toRem(20);
	}

	&__image {
		width: 100%;
		height: toRem(150);
		margin-bottom: toRem(10);
	}

	&__title {
		width: 80%;
		height: 30px;
		margin-bottom: toRem(10);
	}

	&__descr {
		width: 60%;
		height: 20px;
		margin-bottom: toRem(10);
	}
	&__price {
		width: 40%;
		height: 20px;
	}
}
